<div class="container-fluid" ng-init="Intialize()">
    <div class="left-section">
        <div class="srch_bar">
            <!-- <div class="stylish-input-group"> -->
            <input class="input-with-icon" type="text" class="search-bar"  placeholder="Trouver un forum" >
            <!-- <span class="input-group-addon"> -->
            <button class="btn-aller" type="button"> 
                Aller
            </button>
            <!-- </span>  -->
            <!-- </div> -->
        </div>
    </div>
    
    <div class="right-section">
        <div class="quitter">
            <button class="btn-quitter">
                QUITTER
            </button>
        </div>
    </div>

    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="inbox_chat">
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>Général</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>Politique</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>Santé</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>Vie sociale</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>Faits divers</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>Informatique</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg" ng-repeat="messageRecus in allMessages">
                        <div class="incoming_msg_img"> 
                            <i class="icon-user icon-4x color-icon-user"></i>
                            <p>
                                {{ messageRecus.pseudo_utilisateur }}
                            </p>
                        </div>
                        <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>
                                {{ messageRecus.message }}
                            </p>
                            <span class="time_date"> {{ messageRecus.date_message }}</span></div>
                        </div>
                    </div>
                    <div class="outgoing_msg" ng-repeat="messageEnvoyes in userMessages">
                        <div class="sent_msg">
                        <p>
                            {{ messageEnvoyes.message }}
                        </p>
                        <span class="time_date"> {{ messageRecus.date_message }} </span> </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Saisir votre message" name="message" ng-model="message">
                        <button class="msg_send_btn" ng-click="sendMessage()">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
                
    </div>
</div>

