<div class="container" ng-controller="homeController"> <!-- ng-init="Initialize()"-->

    <div class="user-icon">
        <i class="icon-user icon-5x color-icon-user"></i>
    </div>
    
    <hr>

    <div class="input-section">
        <div class="input-icon-wrap">
            <input type="text" class="input-with-icon" placeholder="Pseudo" name="pseudo" ng-model="pseudo">
            <a class="input-icon" ng-click="connectForum()">
                <i class="icon-ok icon-2x"></i>
            </a>
        </div>  

    </div>

    <hr>

    <p>
        Veuillez saisir un pseudo valide pour accéder au forum
    </p>

</div>